$sans: 'Montserrat';
$serrif: 'Cormorant';
$headerFont: 8vw;
$largeFont: 5vw;
$medFont: 3vw;
$smallFont: 1.3vw;
$backgroundColor: #fbf7f5; 
$tablet-width: 200px;
$desktop-width: 1100px;
$tabletSmallFont: 2vw;
$tabletMedFont: 4vw;
$tabletLargeFont: 7vw;


html{
    scroll-behavior: smooth;
    
    //for firefox
    scrollbar-width: none;
}

@mixin mobile {
    @media(max-width: 420px){
        @content;
    }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) and (min-height: 1000px), (max-width: 420px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin largeSer {
    font-family: $serrif;
    font-size: $largeFont;
    font-weight: 100;
}
@mixin headSer {
    font-family: $serrif;
    font-size: $headerFont;
    font-weight: 700;
}
@mixin largeSans{
    font-family: $sans;
    font-size: $medFont;
    font-weight: 300;
}
@mixin smallSans{
    font-family: $sans;
    font-size: $smallFont;
    font-weight: 300;
}