@import "./global.scss";

$navHeight: 8vw;
$circleSize: 0.4vw;
.nav {
  z-index: 100;
  height: $navHeight;
  width: 100%;
  padding: $navHeight/6 5vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
    pointer-events: none;
    @include tablet{
        padding: 4vw 5vw;
    }
  .one {
    transform: scale(1.1);
    }
  .image {
    height: 5.35vw;
      width: 5.35vw;
    opacity: 0;
    cursor: pointer;
    position: relative;
      pointer-events: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include tablet{
          height: 10vw;
          width: 10vw;
      }
      @include mobile{
          height: 15vw;
          width: 15vw;
      }
      .desktopLogo{
          @include mobile{
              display: none;
          }
      }
      .mobileLogo{
          display: none;
          @include mobile{
              display: block;
              border-radius: 100%;
          }
      }
    .pop {
      position: absolute;
      height: 0.4vw;
      width: 0.4vw;
      border-radius: 50px;
      background-color: black;
      opacity: 0;
        @include tablet{
            display: none;
        }
    }
    .pop1 {
      left: 0;
      top: 0;
    }
    .pop2 {
      right: 0;
      top: 0;
    }
    .pop3 {
      left: 0;
      bottom: 0;
    }
    .pop4 {
      right: 0;
      bottom: 0;
    }
    .pop5 {
      top: -11%;
      left: 47%;
    }
    .pop6 {
      bottom: -11%;
      left: 47%;
    }
    .pop7 {
      left: -11%;
      top: 47%;
    }
    .pop8 {
      right: -11%;
      top: 47%;
    }
      a{
          height: 100%;
          width: 100%;
      }
    img {
      height: 100%;
        width: auto;
        object-fit: cover;
    }
  }
  .linkContainer {
    pointer-events: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
      @include tablet{
          margin-top: 4vw;
      }
      @include mobile{
          margin-top: 7vw;
      }
    .navMenu{
        display: none;        
    }
    .flexC {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
//      width: 24vw;
      & > div {
        opacity: 0;
        transform: translateY(30%) rotate(1deg);
      }
    }
  }
}
.navItem {
    pointer-events: inherit;
  display: flex;
    
  .circle {
    height: $circleSize;
    width: $circleSize;
    margin: auto 0;
    border-radius: 10vw;
    background-color: black;
    opacity: 0;
      @include mobile{
          height: 3px;
          width: 3px;
      }
  }
  h1 {
    margin-left: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding-right: 1vw;
    @include smallSans;
    @include tablet{
            font-size: 2vw;
            padding-right: 2vw;
      }
      @include mobile{
          font-size: $tabletSmallFont * 1.5;
      }
  }
    .circle2{
        opacity: 1;
        display: none;
    }
    .active{
        .circle{
            display: none;
        }
        .circle2{
            display: block;
        }
    }
}
.pointerEvents{
    .pointerChild{
        pointer-events: all !important;
    }
}
