@import "global";

.productsContainer {
  padding-top: 30vh;
      @include mobile{
          padding-top: 0;
      }
  & > h1 {
    @include largeSer;
    width: 100%;
    text-align: center;
    margin-bottom: 20vh;
      @include tablet{
          font-size: $tabletLargeFont;
          margin-bottom: 10vh;
      }
      @include mobile{
          font-size: $tabletLargeFont * 1.5;
      }
  }
  & > .flexbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    & > .item {
      width: 33.3%;
        display: flex;
        justify-content: center;
        margin-bottom: 20vh;
        @include tablet{
            width: 50%;
            margin-bottom: 10vh;
        }
      & > div {
        position: relative;
        width: 70%;
          text-align: center;
          @include tablet{
              width: 90%;
          }
          &>h1{
              @include largeSans;
              font-size: $smallFont;
              font-weight: 500;
              padding-top: 1vw;
              @include tablet{
                  font-size: $tabletSmallFont;
              }
              @include mobile{
                  font-size: $tabletSmallFont * 1.5;
              }
          }          
          &>h2{
              @include smallSans;
              padding-top: 1vw;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              @include tablet{
                  font-size: $tabletSmallFont;
              }
              @include mobile{
                  font-size: $tabletSmallFont * 1.5;
              }
              span{
                  padding-bottom: 1vw;
              }
          }
          .link{
              width: 100%;
              height: 30vw;
              overflow: hidden;
          }
          .soldOut{
              position: absolute;
              height: 30vw;
              width: 100%;
              z-index: 5;
              background-color: rgba(0,0,0,.7);
              display: flex;
              justify-content: center;
              flex-direction: column;
            h3{
                    width: 100%;
                    text-align: center;
                    @include largeSans;
                    color: white;
              @include tablet{
                  font-size: $tabletMedFont;
              }              
                @include mobile{
                  font-size: $tabletMedFont * 1.5;
              }
            }
          }
          .soldOut + a{
              pointer-events: none;
          }
      }
    }
  }
    .link{
        cursor: pointer !important;
        
    }
    .imgContainer{
        height: 100%;
        width: 100%;
        position: relative;
        &>div{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
        }
        .top{
            z-index: 10;
//            top: -100%;
            opacity: 0;
        }
    }
}
