@import "global";
$background: white;
$foreground: black;
$imgSize: 2.2vw;

@mixin animate{
    opacity: 0;
    transform: translateX(10px);
}
.largeScreen {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  color: $foreground;
  display: block;
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 1;
    div {
      background-color: $background;
      height: 100%;
      width: 0%;
      margin-left: auto;
      opacity: 0;
    }
  }
  .grid {
    background: none;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "nav back img"
      "nav . img"
      "nav social img";
      @include tablet{
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 2fr 1fr;
          grid-template-areas: 
              ". . ."
              "social nav back"
              ". . .";
      }
      @include mobile{
          grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 
              ". ."
              "nav back"
              "nav social"
              "nav social"
              "nav social"
              ". . "
            ;
      }
    .back {
      grid-area: back;
      display: flex;
      flex-direction: column;
      justify-content: center;
        @include tablet{
            justify-content: flex-start;
        }
        @include mobile{
            justify-content: flex-end;
            flex-direction: row;
        }
      div {
        @include animate;
        display: flex;
        justify-content: flex-end;
        padding-right: 12%;
          @include tablet{
              justify-content: center;
              padding-top: $tabletLargeFont * .4;
          }
          img {
            object-fit: cover;
            height: $imgSize;  
              cursor: pointer;
              box-sizing: content-box;
              padding: $imgSize / 6;
            @include tablet{
                width: $imgSize * 2;
                height: $imgSize * 2;
            }
            @include mobile{
                width: $imgSize * 3;
                height: $imgSize * 3;
            }
          }
      }
    }
    .sidenav {
      grid-area: nav;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 9% 9%;
        @include tablet{
            justify-content: space-between;
            width: 100%;
            padding: 0;
        }
      h1 {
        @include largeSer;
          @include animate;
          cursor: pointer;
          position: relative;
          display: flex;
          width: fit-content;
          padding: $largeFont / 6;
          padding-left: 0;
          @include tablet{
              width: 100%;
              text-align: center;
              justify-content: center;
                font-size: $tabletLargeFont;
          }
          @include mobile {
              font-size: $tabletLargeFont * 1.5;
              text-align: left;
              justify-content: flex-start;
              padding-left: 5vw;
          }
          .circle{
              margin-top: $largeFont * .5;
              margin-bottom: auto;
              margin-right: $largeFont / 8;
              width: $largeFont / 5;
              height: $largeFont / 5;
              background-color: black;
              border-radius: 100px;
              opacity: 0;
              @include tablet{
                  margin-top: $tabletLargeFont * .5;
                  width: $tabletLargeFont / 6;
                  height: $tabletLargeFont / 6;
              }
              @include mobile{
                  margin-top: $tabletLargeFont * .75;
                  width: $tabletLargeFont * .2;
                  height: $tabletLargeFont * .2;
              }
          }
          .circle2{
              display: none;
          }
          .active > .circle{
              display: none;
          }
          .active > .circle2{
              opacity: 1;
              display: block;
          }
      }
    }
    .social {
      grid-area: social;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: flex;
        justify-content: space-around;
        @include tablet{
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            margin: auto;
            padding: $tabletLargeFont * .4 0;
        }
          @include mobile{
              flex-direction: column;
              margin-left: auto;
              margin-right: 12%;
              transform: translateY(4%);
//              border-left: solid black 1px;
              width: 14vw;
          }
          a{
              @include animate;
          }
        img {
          object-fit: cover;
          width: $imgSize;
          height: $imgSize;
            box-sizing: content-box;
          padding: $imgSize / 8;
            cursor: pointer;
            @include tablet{
                width: $imgSize * 2;
                height: $imgSize * 2;
            }            
            @include mobile{
                width: $imgSize * 3;
                height: $imgSize * 3;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 0;
                margin-left: auto;
            }
        }
      }
    }
    .img {
      grid-area: img;
      @include animate;
        @include tablet{
            display: none;
        }
    }
  }
}
