@import "./global.scss";

body {
  background-color: $backgroundColor;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
.transitionPage {
  position: fixed;
  height: 100vh;
  z-index: 100;
  background-color: white;
  top: 0;
  width: 0vw;
  overflow: hidden;
  & > .contain {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 15vw;
    width: 15vw;
    opacity: 0;
    img {
      max-height: 100%;
      max-width: 100%;
        @include tablet{
            transform: scale(3);
        }
    }
    .pop {
      position: absolute;
      height: 1vw;
      width: 1vw;
      border-radius: 50px;
      background-color: black;
      opacity: 0;
    }
    .pop1 {
      left: 0;
      top: 0;
    }
    .pop2 {
      right: 0;
      top: 0;
    }
    .pop3 {
      left: 0;
      bottom: 0;
    }
    .pop4 {
      right: 0;
      bottom: 0;
    }
    .pop5 {
      top: -11%;
      left: 47%;
    }
    .pop6 {
      bottom: -11%;
      left: 47%;
    }
    .pop7 {
      left: -11%;
      top: 47%;
    }
    .pop8 {
      right: -11%;
      top: 47%;
    }
  }
}
