@import './global';

$thisHeight: 2vw;
.navMen{
    height: $thisHeight;
    width: $thisHeight;
    padding: $thisHeight * .3;
    box-sizing: content-box;
    cursor: pointer;
    transform: translateX($thisHeight * .3); //to offset padding
    & > .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        box-sizing: content-box;
        div{
            height: $thisHeight * .158;
            background-color: black;
            padding: 0;
            border-radius: 3px;
            width: 0;
            opacity: 0;
        }
    }
}