@import './global';

$thisHeight: 2vw;
.navMen{
    height: $thisHeight;
    width: $thisHeight;
    margin-top: $thisHeight/2;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    cursor: pointer;
    box-sizing: content-box;
    padding: $thisHeight * .3;
    div{
        height: $thisHeight / 6;
        background-color: black;
        padding: 0;
        border-radius: 1px;
        width: 0;
        opacity: 0;
        
    }
}