@import './global.scss';

.arrivalsContainer{
    padding: 0 5vw;
    width: 100%;
    display: grid;
    height: 120vh;
    margin-top: 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "txt feat"
        "collection feat"
        "collection featA"
        "collection featA";
    @include tablet{
        grid-template-rows: .3fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "txt txt"
            "collection collection"
            "feat featA"
    }
    & > div{
        overflow: hidden;
        position: relative;
    }
    .text{
        grid-area: txt;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-weight: 100; 
            @include largeSer;
            @include tablet{
                font-size: $tabletLargeFont;
                width: 100%;
                text-align: center;
            }
            @include mobile{
                font-size: $tabletLargeFont * 1.5;
            }
        }
    }
    div{
        &>a{
            width: 100%;
            height: 100%;
        }
    }
    .collection{
        grid-area: collection;
        &.desktop{
            @include tablet{
                display: none;
            }
        }
        &.mobile{
            display: none;
            @include tablet{
                display: block;
            }
        }
    }
    .feat1{
        grid-area: feat;
        @include tablet{
            display: none;
        }
        &.mobile{
            display: none;
            @include tablet{
                display: flex;
            }
        }
    }    
    .feat2{
        grid-area: featA;
        @include tablet{
            display: none;
        }
        &.mobile{
            display: none;
            @include tablet{
                display: flex;
            }
        }
    }
    .image{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: visible;
            transform: scale(1.3);
            border: solid red 1px;
        @include tablet{
            max-width: 100%;
            height: auto;
        }
        &>div{
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
    .overlay{
        position: absolute;
        z-index: 5;
        background-color: rgba(0,0,0,.6);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $backgroundColor;
        font-weight: normal;
        text-align: center;
        cursor: pointer;
        filter: blur(5px);
        opacity: 0;
        &.mobile{
            display: none;
            @include tablet{
                display: flex;
                opacity: 1;
                filter: blur(0px);
                background-color: rgba(0,0,0,.3);
            }
        }
        h2{
            @include largeSans;
            @include tablet{
                font-size: $tabletMedFont;
            }
            @include mobile{
                font-size: $tabletMedFont * 1.5;
            }
        }
        h3{
            margin-top: 3%;
            @include smallSans;
            @include tablet{
                font-size: $tabletSmallFont;
            }
            @include mobile{
                font-size: $tabletSmallFont * 1.5;
            }
        }
    }
}