@import "global";
.scrollBar{
    position: fixed;
    width: 5px;
    right: calc(2.5vw - 2.5px);  //half padding  half scrollbarwidth
    background-color: black;
    top: 11vh;
    border-radius: 10px;
    opacity: 0;
}