@import "global";

.values{
    display: flex;
    width: 100%;
    padding: 0 5vw;
    padding-top: 0vh;
    
    &>.first{
        width: 35.5%;
          position: -webkit-sticky; /* Safari */
          position: sticky;
          top: 1px;
        position: relative;
        ul{
            height: 100vh;
            position: absolute;
            bottom: auto;
            top: 0;
            width: fit-content;
            margin-top: auto;
            justify-content: center;
            display: flex;
            flex-direction: column;
              li{
                list-style: none;
                @include largeSer;
                  font-weight: 100;
                padding: .5vw 0;
                font-size: 8vw;
            }      
        }
    }
    &>.second{
        margin-left: auto;
        margin: auto;
        padding-left: 5vw;
        width: 42%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 90vh;
        @include tablet{
            width: 50%;
            padding-left: 5vw;
        }
        p.container{
            @include largeSer;
            font-size: $largeFont / 4;
            line-height: 200%;
            padding-bottom: 50vh;
            font-weight: 100;
            @include tablet{
                font-size: $tabletSmallFont;
            }
        }
    }
}